### Setup ###

In [4]:
import mysql.connector
import pandas as pd
import hashlib

# Connect
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="40418",
    database="aeras"
)
print("✅ Connected!")

# Buffered cursor avoids unread result issues
cursor = conn.cursor(buffered=True)

# Functions
def encoding(input_string):
    return hashlib.sha256(input_string.encode('utf-8')).hexdigest()

def genID(iD, signup, phone, vehicle):
    return signup[2:4] + phone[4:6] + str(iD).zfill(3) + vehicle[-2:]

# Get next ID
cursor.execute("SELECT COUNT(*) FROM pullers")
iD = cursor.fetchone()[0] + 1

✅ Connected!

In [10]:
df = pd.read_sql("SELECT * FROM pullers", conn)
print(df)
#cursor.execute("ALTER TABLE pullers ADD ride_count int;")
conn.commit()

Empty DataFrame
Columns: [pullerid, name, vehicle, flag, ban, password, points, sign_up_date, phone, ride_count]
Index: []

C:\Users\dibya\AppData\Local\Temp\ipykernel_17992\3957479358.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM pullers", conn)

cursor.execute("ALTER TABLE pullers ADD PRIMARY KEY (pullerid);")
conn.commit()

In [3]:

# User data
name = "Kabul Karim"
vehicle = "CHA-C-11-5468"
flag = 0
ban = 0
password = "12345"
points = 0
signup = "2025-11-13"
phone = "01313731509"
ride_count=0

In [4]:

# Insert
insert_query = """
INSERT INTO pullers
(pullerid, name, vehicle, flag, ban, password, points, sign_up_date, phone,ride_count)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s,%s)
"""

data = (
    encoding(genID(iD, signup, phone, vehicle)),
    encoding(name),
    encoding(vehicle),
    flag,
    ban,
    encoding(password),
    points,
    signup,
    encoding(phone),
    ride_count
)

cursor.execute(insert_query, data)
conn.commit()
print(f"✅ Added {cursor.rowcount} puller")

# Read table with pandas
df = pd.read_sql("SELECT * FROM pullers", conn)
print(df)

✅ Added 1 puller
   id                                           pullerid  \
0   1  59442ed040ac337a884c68430e5f998bc9c39739e8ed40...

                                                name  \
0  0df2b4090cd54f159cc3eee6aec9fedd9b8dcb8f831bb4...

                                             vehicle  flag  ban  \
0  65cdca400c1bb72b84e9e9a3d66a8ae426447de4782439...     0    0

                                            password  points sign_up_date  \
0  5994471abb01112afcc18159f6cc74b4f511b99806da59...       0   2025-11-13

                                               phone  ride_count
0  6309e5a3f44764259af112d105dcdde52b40b6e247f517...           0

C:\Users\dibya\AppData\Local\Temp\ipykernel_8104\2388308571.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM pullers", conn)

## Don't use DELETE command ###

In [5]:
cursor.execute("TRUNCATE TABLE pullers")
conn.commit()
df = pd.read_sql("SELECT * FROM pullers", conn)
print(df)

Empty DataFrame
Columns: [id, pullerid, name, vehicle, flag, ban, password, points, sign_up_date, phone, ride_count]
Index: []

C:\Users\dibya\AppData\Local\Temp\ipykernel_8104\2492865152.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM pullers", conn)